<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>USER_REGISTRAION</servlet-name>
        <servlet-class>servlets_files.USER_REGISTRAION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DAO</servlet-name>
        <servlet-class>DATABASE_OPERATION_FUNCTION.DAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exitting_user</servlet-name>
        <servlet-class>servlets_files.Exitting_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_login</servlet-name>
        <servlet-class>servlets_files.User_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>servlets_files.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>servlets_files.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlets_files.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADDBOOK</servlet-name>
        <servlet-class>servlets_files.ADDBOOK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayData</servlet-name>
        <servlet-class>servlets_files.DisplayData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveImage</servlet-name>
        <servlet-class>servlets_files.RetrieveImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagaaa</servlet-name>
        <servlet-class>servlets_files.imagaaa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>servlets_files.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>USER_REGISTRAION</servlet-name>
        <url-pattern>/USER_REGISTRAION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DAO</servlet-name>
        <url-pattern>/DAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exitting_user</servlet-name>
        <url-pattern>/Exitting_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_login</servlet-name>
        <url-pattern>/User_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADDBOOK</servlet-name>
        <url-pattern>/ADDBOOK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayData</servlet-name>
        <url-pattern>/DisplayData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveImage</servlet-name>
        <url-pattern>/RetrieveImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagaaa</servlet-name>
        <url-pattern>/imagaaa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
